<div class="row">
  <div class="col"></div>
  <div class="col" style="margin:12px">
    <%= image_tag 'letter.png' %>
  </div>
  <div class="col"></div>
</div>
<h3 style="text-align:center;background-color:#ff0056;padding-top:10px;padding-bottom:10px;">당신에게 울림을 줄 Beautiful Story</h3>
<iframe width="100%" height="300px;" src="https://www.youtube.com/embed/_28CfzvgbF0?modestbranding=1&loop=1&enablejsapi=1"
frameborder="0" frameborder="0" allowfullscreen></iframe>
<iframe width="100%" height="300px;" src="https://www.youtube.com/embed/JM_rxkAQGF8?modestbranding=1&loop=1&enablejsapi=1"
frameborder="0" frameborder="0" allowfullscreen></iframe>
<iframe width="100%" height="300px;" src="https://www.youtube.com/embed/SIpD6LI2rGg?modestbranding=1&loop=1&enablejsapi=1"
frameborder="0" frameborder="0" allowfullscreen></iframe>
<iframe width="100%" height="300px;" src="https://www.youtube.com/embed/o4QgtoBb9CI?modestbranding=1&loop=1&enablejsapi=1"
frameborder="0" frameborder="0" allowfullscreen></iframe>
<iframe width="100%" height="300px;" src="https://www.youtube.com/embed/9npfWzdiRm0?modestbranding=1&loop=1&enablejsapi=1"
frameborder="0" frameborder="0" allowfullscreen></iframe>
