<div class="row">
  <div class="col navbar">
    <i class="fa fa-home fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col navbar">
    <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col navbar">
    <i class="fa fa-book fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col navbar">
    <i class="fa fa-map fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col navbar">
    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
  </div>
</div>
