<!DOCTYPE html>
<html>
  <head>
    <title>InvisibleBeauty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col"></div>
      <div class="col-5"><%= yield %></div>
      <div class="col"></div>
      </div>
  </body>
</html>
